<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie not found</title>
    <link rel="stylesheet" href="../static/CSS/error.css">
</head>
<body>
    <div class="main">
        <img src="../static/images/error.png" alt="Error 404: Not found" class="image">
        <p class="big">Movie not found</p>
        <p class="big">˙◠˙</p>
        <p class="small">Whoops!!! Looks like the movie you are trying to find is a bit too old.</p>
        <p class="small">Try searching a more recent one</p>
    </div>
</body>
</html>